<!-- views/newFeature.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>New Feature</title>
</head>
<body>
  <form id="featureForm">
    <input type="text" name="inputField" placeholder="Enter something" required>
    <button type="submit">Submit</button>
  </form>
  <script src="/public/js/newFeature.js"></script>
</body>
</html>
